html {
    height: 100%;
    font-size: 10px;
}

body {
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Manuale', serif;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #671700;
}

.header_txt {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    color: #fffcfa;
}

.header_title, .header_subtitle {
    position: absolute;
    left: 20%;
}

.header_title {
    font-size: x-large;
}

.header_subtitle {
    padding: 4rem 0;
    font-size: x-small;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    background: url(images/img01.jpg);
}


.menu li {
    margin: 0 3rem;
    text-transform: uppercase;
}

.menu li a {
    text-decoration: none;
    color: #fffcfa;
}

.main_content {
    flex: 1 1 auto;
}

.footer_wrap {
    height: 10rem;
    position: relative;
    background: url(images/img07.gif);
}

.footer {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: small;
    color: #fffcfa;
}

.footer a {
    text-decoration: none;
    border-right: 1px solid #fffcfa;
    padding: 0 0.5rem;
    color: #fffcfa;
}

.footer a:nth-child(5) {
    border-right: none;
}
