html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Manuale', serif;
}

.header {
    background-color: #671700;
}

.header_txt {
    position: relative;
    display: flex;
    justify-content: center;
    background-size: cover;
    color: #fffcfa;
}

.header_title, .header_subtitle {
    position: absolute;
    left: 20%;
}

.header_title {
    font-size: x-large;
}

.header_subtitle {
    padding: 4rem 0;
    font-size: x-small;
}

.menu {
    height: 6rem;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-top: 0.5rem solid #fffcfa;
    box-sizing: border-box;
    background-color: #671700;
}

.menu li {
    margin: 0 3rem;
    text-transform: uppercase;
}

.menu li a {
    text-decoration: none;
    color: #fffcfa;
}
